# Ignora o arquivo de credenciais da conta de serviço do Google
credentials.json

# Pasta de dependências gerenciada pelo Composer
/vendor/

# Arquivos temporários ou cache
*.log
*.tmp
*.cache

# Configurações locais (por segurança)
.env
.DS_Store
Thumbs.db
